@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500&amp;family=Montserrat&amp;display=swap");
*:focus {
  outline: 0 !important;
}

* button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

* {
  list-style-type: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
*:focus, *:active {
  outline: none !important;
}

.text {
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 2px;
}

*:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

*::selection {
  color: rgb(90, 210, 231);
}

* a,
a:visited {
  color: #990000;
  text-decoration: none;
}

body {
  color: #3d3d3d !important; /* dark gray */
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.heading {
  text-align: center;
  margin-bottom: 60px;
}
.heading .sub {
  color: #021659;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 22px;
}
.heading .main {
  color: #021659;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 900;
}

.footer {
  background-color: #021659;
  padding: 80px 0;
}
@media screen and (max-width: 992px) {
  .footer {
    padding-bottom: 40px;
    padding-top: 60px;
  }
}
.footer .wrapper .name .navbar-brand {
  max-width: 120px;
  margin-bottom: 20px;
  padding-top: 0;
}
.footer .wrapper .name .navbar-brand img {
  width: 100%;
}
.footer .wrapper .name p {
  line-height: 2rem;
  font-size: 16px;
  color: #fff;
  padding-bottom: 10px;
}
.footer .wrapper .footer_heading {
  color: #fff;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 700;
}
.footer .wrapper .footer_icons {
  padding-top: 10px;
  text-align: center;
  display: flex;
  justify-content: start;
}
.footer .wrapper .footer_icons a {
  display: block;
  color: #000000;
  margin-right: 8px;
}
.footer .wrapper .footer_icons a span {
  height: 31px;
  width: 43px;
  font-size: 28px;
  padding-top: 1px;
  border-radius: 2px !important;
  color: #fff;
}
.footer .wrapper .footer_icons a:nth-child(1) span {
  color: rgb(255, 255, 255) !important;
  background: rgb(5, 85, 151) !important;
}
.footer .wrapper .footer_icons a:nth-child(1) span:hover {
  color: rgb(255, 255, 255) !important;
  background: #000000 !important;
}
.footer .wrapper .footer_icons a:nth-child(2) span {
  background: rgb(41, 111, 240) !important;
  color: rgb(255, 255, 255) !important;
}
.footer .wrapper .footer_icons a:nth-child(2) span:hover {
  color: rgb(255, 255, 255) !important;
  background: #000000 !important;
}
.footer .wrapper .footer_icons a:nth-child(3) span {
  background: rgb(248, 130, 51) !important;
  color: rgb(255, 255, 255) !important;
}
.footer .wrapper .footer_icons a:nth-child(3) span:hover {
  color: rgb(255, 255, 255) !important;
  background: #000000 !important;
}
.footer .wrapper .footer_icons a:nth-child(4) span {
  background: rgba(178, 202, 40, 0.801) !important;
  color: rgb(255, 255, 255) !important;
}
.footer .wrapper .footer_icons a:nth-child(4) span:hover {
  color: rgb(255, 255, 255) !important;
  background: #000000 !important;
}
.footer .wrapper .footer_icons a:nth-child(5) span {
  background: rgba(40, 178, 202, 0.801) !important;
  color: rgb(255, 255, 255) !important;
}
.footer .wrapper .footer_icons a:nth-child(5) span:hover {
  color: rgb(255, 255, 255) !important;
  background: #000000 !important;
}
.footer .wrapper .footer_items {
  margin-top: 30px;
  text-align: left;
  padding-left: 0px;
}
.footer .wrapper .footer_items a {
  color: #e2e2e2;
  text-decoration: none;
}
.footer .wrapper .footer_items a:hover {
  color: #8cbbdf;
}
.footer .wrapper .footer_items li {
  margin-bottom: 8px;
}
@media screen and (max-width: 576px) {
  .footer .wrapper .i_wrapper {
    margin-top: 50px;
  }
}
@media screen and (max-width: 992px) {
  .footer .wrapper .s_wrapper {
    margin-top: 50px;
  }
}
.footer .wrapper .send {
  padding-top: 20px;
}
.footer .wrapper .send p {
  line-height: 2rem;
  font-size: 16px;
  color: #fff;
  padding-bottom: 10px;
}
.footer .wrapper .send .search_box {
  padding: 20px 0;
}
.footer .wrapper .send .search_box .has-search .form-control {
  padding-left: 3.375rem;
  background-color: transparent;
  color: #021659;
}
.footer .wrapper .send .search_box .form-control {
  padding: 20px 0;
  display: block;
  width: 100%;
  height: calc(2.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 0;
  border-color: transparent;
  border-bottom-color: #fff !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: none !important;
}
.footer .wrapper .send .search_box .form-control:focus {
  border-color: #fff !important;
}
.footer .wrapper .send .search_box .has-search .form-control-feedback {
  z-index: 2;
  display: block;
  width: 3.375rem;
  height: 2.375rem;
  line-height: 3.375rem;
  text-align: center;
  pointer-events: none;
  color: #ffffff;
  position: absolute;
  right: 20px;
}
.footer .wrapper .send .search_box .form-group {
  position: relative;
}
.footer .wrapper .copyright {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.footer .wrapper .copyright hr {
  border: 0;
  border-top: 1px solid rgba(86, 86, 86, 0.53) !important;
}
.footer .wrapper .copyright .copy {
  padding-top: 20px;
  color: #F5FCF0;
}
.footer .wrapper .copyright .copy a {
  color: #021659;
}
.footer .wrapper .copyright .copy span {
  color: #021659;
}

.o_footer_copyright {
  background-color: #12245d !important;
}
.o_footer_copyright .row > div {
  text-align: center !important;
}

.o_main_navbar {
  background-color: #021659 !important;
}

.s_testimonial {
  border: 1px solid #EAEAEA !important;
  padding: 20px;
}
.s_testimonial.s_testimonial.opt_shadow img {
  box-shadow: 0 2px 5px rgba(51, 51, 51, 0.4);
}
.s_testimonial.s_testimonial.opt_grey_bg {
  border: none;
  background-color: #EAEAEA !important;
}

.s_testimonial img {
  padding: 0px 0px 19px 0px;
}

/*# sourceMappingURL=style.css.map */
